* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #001e4d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
}

.app h1 {
  font-size: 25px;
  color: #001e4d;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
}

.btn {
  background: #fff;
  color: #222;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  border: none;
  padding: 10px 30px;
  margin: 20px auto 0;
  display: none;
  cursor: pointer;
  border-radius: 4px;
}
