* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
}

.stopwatch {
  text-align: center;
  background: #222;
  padding: 30px;
  border-radius: 10px;
}

#display {
  font-size: 48px;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
